body {
  box-sizing: border-box;
}

.container {
  width: 980px;
  height: 630px;
  margin: 50px auto;
  position: relative;
  background-color: #139181;
  overflow: hidden;
}

.canvas__image-furniture {
  position: absolute;
  top: 0;
  left: 0;
}

.canvas__image-road-map {
  position: absolute;
  top: 21px;
  left: 78px;
}

.canvas__image-persona {
  position: absolute;
  top: 438px;
  left: 434px;
  transition: 0.5s;
}

/* Нижняя панель */

.friends-panel {
  width: 536px;
  height: 63px;
  position: relative;
  background: url('./image/game-panel/block-friends.png') 0 0 no-repeat;
  top: 549px;
  left: 4px;
  overflow: hidden;
}

.friends-panel__wrapper {
  width: 480px;
  position: relative;
  top: 7px;
  left: 35px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.friends-panel__slider-track {
  display: flex;
  position: relative;
  left: 0;
  transition: 0.2s;
}

.friends-panel__slider-item {
  position: relative;
  height: 50px;
  background: url('./image/game-panel/icon-friends.png') 0 0 no-repeat;
}

.friends-panel__add-friend {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 24px;
  position: relative;
  top: -48px;
  left: 68px;
  background: url(./image/game-panel/button-add-friend.png) -10px -5px no-repeat;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.friends-panel__button-left {
  width: 15px;
  height: 60px;
  position: absolute;
  background: url(./image/game-panel/arrow-left.png) 0 0 no-repeat;
  border: none;
  padding: 0;
  top: 18px;
  left: 10px;
  cursor: pointer;
}

.friends-panel__button-right {
  width: 15px;
  height: 60px;
  position: absolute;
  background: url(./image/game-panel/arrow-right.png) 0 0 no-repeat;
  border: none;
  padding: 0;
  top: 18px;
  left: 513px;
  cursor: pointer;
}

.chat-button {
  width: 65px;
  height: 65px;
  position: absolute;
  background: url(./image/game-panel/chat.png) 0 0 no-repeat;
  border: none;
  padding: 0;
  top: 550px;
  left: 545px;
  cursor: pointer;
}

.start-button {
  width: 205px;
  height: 65px;
  position: absolute;
  background: url('./image/game-panel/button-start-game.png') 0 0 no-repeat;
  background-color: transparent;
  border: none;
  padding: 0;
  top: 548px;
  left: 616px;
  cursor: pointer;
}

.button-mail {
  width: 68px;
  height: 65px;
  position: absolute;
  background: url(./image/game-panel/button-mail.png) 0 0 no-repeat;
  border: none;
  padding: 0;
  top: 549px;
  left: 824px;
  cursor: pointer;
}

.button-rating {
  width: 66px;
  height: 62px;
  position: absolute;
  background: url(./image/game-panel/button-rating.png) 0 0 no-repeat;
  border: none;
  padding: 0;
  top: 550px;
  left: 897px;
  cursor: pointer;
}

/* Попап */

.overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup {
  width: 523px;
  height: 455px;
  background: url('./image/popup/panel-rating.png') 0 0 no-repeat;
  position: relative;
  top: 0;
  left: 240px;
  transform: translateY(-120%);
}

.popup__button-close {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 14px;
  right: 18px;
  background: url('./image/popup/button-close.png') 0 0 no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popup__title-rating {
  width: 265px;
  height: 33px;
  position: absolute;
  top: -5px;
  left: 135px;
  background: url('./image/popup/title-rating.png') 0 0 no-repeat;
}

.popup__title-description {
  width: 405px;
  height: 30px;
  position: absolute;
  top: 20px;
  left: 30px;
  background: url('./image/popup/title-description.png') 0 0 no-repeat;
}

.popup__rating-wrapper {
  width: 465px;
  height: 325px;
  position: absolute;
  top: 90px;
  left: 30px;
  background: url('./image/popup/bg.png') 0 0 no-repeat;
  overflow-y: auto;
}

.popup__rating-wrapper::-webkit-scrollbar {
  width: 0;
}

.popup__rating-players {
  position: relative;
  top: 50px;
  width: 404px;
  height: 30px;
  background: url('./image/popup/rating-players.png') 0 0 no-repeat;
  margin: 5px auto;
}

.popup__rating-list {
  width: 404px;
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 16px;
  color: white;
  padding: 0;
  margin: 0 5px 0;
}

.popup__rating-list:last-child {
  margin: 0;
}

.popup__rating-item {
  overflow: hidden;
}

.player-position {
  display: flex;
  justify-content: center;
  width: 60px;
  padding: 0 0 0 10px;
}

.player-image {
  width: 27px;
  height: 27px;
  padding: 0;
}

.player-name {
  width: 225px;
  padding: 0 5px;
}

.player-experience {
  width: 75px;
  padding: 0 5px;
}
